<form method="post" action="/puppies">

    <input name="name" placeholder="Name">
    <input name="breed" placeholder="Breed">
    <input name="age" placeholder="Age">
    <button>Submit</button>


</form>