<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Your new puppy has been born!</h1>
          <p>Puppy Name:</p>
          <p><%= @name %></p>
          <p>Puppy Age:</p>
          <p><%= @age %></p>
          <p>Puppy Breed:</p>
          <p><%= @breed %></p>
    </body>
</html>
