<%# The home page will also need a new view index.erb. %>
<%# This page should welcome you to the Puppy Adoption Site. %>
<%# Add this view to the controller action. %>

<a href = '/new'>Click Here To List A Puppy</h1>